{% extends 'base.html.twig' %}
{% block body %}
    <main class="main _container">
        <div class="error_wrapper">
            <p class="error">Error 404 <br> Page not found</p>
        </div>
    </main>
{% endblock %}