body, input {
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25rem;
    letter-spacing: 0.1rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    margin: 0.5rem 0 0 0;
    font-weight: 700;
}
input {
    width: 15rem;
    font-size: 1rem;
    margin: 0.8rem 0;
    border-radius: 0.35rem;
    padding: 0.25rem 0.5rem;
}
td, th {
    border: 0.1rem solid black;
    padding: 0.5rem;
    text-align: center;
}
th:first-child, th:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button {
    margin: 0 0.3rem;
}
button {
    transform: rotateZ( 90deg );
}