{% extends 'base.html.twig' %}
{% block body %}
<main class="main _container">
    <section class="main__section-title">
        <h4 class="title-small">Explore.Discover.Share</h4>
        <h1 class="title-main">About</h1>
    </section>
    <section>
        <div class="info">
            <p class="info__text">
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
                Donec lacinia magna sit amet arcu aliquet luctus. Maecenas vehicula metus nisi, nec finibus justo vulputate eget.
            </p>
            <p class="info__text">
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
                Pellentesque porta felis id erat sodales condimentum. Nam a lectus egestas, fermentum mi in, auctor lacus.
            </p>
        </div>
    </section>
</main>
{% endblock %}
